# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/

# Environment variables
.env
*.env

# Output files
*.log
*.csv
*.png
*.jpg
